AUTH_TRUST_HOST="true"
AUTH_URL="http://localhost:3000"
AUTH_SECRET="" # Added by `npx auth`. Read more: https://cli.authjs.dev

NEXT_PUBLIC_META_DESC="Cloud hosting"
NEXT_PUBLIC_OG_IMAGE=

NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=""
STRIPE_SECRET_KEY=""

NEXT_PUBLIC_PAYPAL_CLIENT_ID=""
PAYPAL_CLIENT_SECRET=""

EMAIL_SERVER=""
EMAIL_FROM=""