node_modules
# Keep environment variables out of version control
.env

/src/generated/prisma
.next/
.DS_Store
logs/
coverage/
tsconfig.tsbuildinfo
.env.local
cluster_backup_*.json
migration-*.sql
Dockerfile
.dockerignore
.default.env*
