node_modules
# Keep environment variables out of version control
.env
.env.production
.env.local

/src/generated/prisma
.next/
.DS_Store
logs/
coverage/
tsconfig.tsbuildinfo
cluster_backup_*.json
migration-*.sql
prisma/migrations/
Dockerfile
.dockerignore
.default.env*
.last_deploy_hash
