services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: yannik
      POSTGRES_PASSWORD: yannik123
      POSTGRES_DB: pinning
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U yannik -d pinning"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres-data:
